*,
*::before,
*::after {
	box-sizing: border-box;
}


/* Custom Properties */

:root {
	--ff-primary: Arial, sans-serif;
	--ff-secondary: Arial, monospace;

	--fw-reg:	300;
	--fw-bold:	900;

	--bg-grad: linear-gradient(#fff 50%, #cecece) no-repeat center center fixed;
	--clr-text0: #202020;
	--clr-text1: #ececec;

	--clr-timeline: #151525;
	--clr-timeline-img: #2d2d3d;
	--clr-timeline-btn: #2d2d3d;
	--clr-img-border: #202020;

	--clr-bg0: #ececec;
	--clr-bg1: #606060;
	--clr-bg2: #2d2d3d;

	--clr-bg3: #2d2d3d;

	--clr-footer: #151525;
	--clr-footer-txt: #ececec;

	--fs-h1: 2.5rem;
	--fs-h2: 1.5rem;
	--fs-h3: 1rem;
	--fs-body: 1rem;

	--bs: 0.25em 0.25em 0.75em rgba(0,0,0,0.25),
		0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}


@media (min-width: 600px) {
	:root {
		--fs-h1: 2.5rem;
		--fs-h2: 2rem;
		--fs-h3: 1.5rem;
		--fs-body: 1.05rem;
	}
}


/* General Styles */

html, body {
	scroll-behavior: smooth;
	margin: 0;

	/*background: linear-gradient(#ff9955 50%, #ff882f, #ff7006) no-repeat center center fixed; */
	background: var(--bg-grad); 	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	color: var(--clr-text0);
	margin:	0;	

	font-family: var(--ff-primary);
	font-size: var(--fs-body);
	line-height: 1.6;
}

section {
	padding: 0.5em 1em;
}

img {
	display: block;
	max-width: 100%;
}

strong { font-weight: bold; }


:focus:not(.expand-button) {
	outline: 3px solid var(--clr-text0);
	outline-offset: 2px;
}

.expand-button-img {
/*	filter: brightness(0.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(200%);*/
}

/*.btn {
	display: block;
	padding: 0.5em 1.5em;
	background: var(--clr-text0);
	color: var(--clr-bg0);
	text-decoration: none;
	cursor: pointer;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--fw-bold);
}
*/

h1, h2, h3 {
	line-height: 1;
	margin: 0;
}

h1 {font-size: var(--fs-h1);}
h2 {font-size: var(--fs-h2);}
h3 {font-size: var(--fs-h3);}


.section__title {
	margin-bottom: auto;
	padding-left: 0.5em;
}

/*h1.section__title{
	margin-top: auto;
}*/

.section__title--intro {
	font-weight: var(--fw-reg);
	text-align: center;

	grid-column: 1 / 2;
	grid-row: 1 / 2;
	margin: 0.5em;
}

@media (max-width: 600px) {
	.section__title--intro::after {
		content: '';
		display: block;
		width: 2em;
		height: 1px;
		margin: 0.5em auto 0.5em;
		background: var(--clr-text0);
		opacity: 0.25;
	}
}

.section__subtitle--intro {
	text-align: right;
}

.section__subtitle {
	margin:	0;
	font-size: var(--fs-h3);
}

.minors {
	font-size: 0.75em;	
}

.intro,
.section__subtitle--about {
	line-height: 1em;
	background: var(--clr-bg0);
	font-family: var(--ff-secondary);

	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.intro {
	border-radius: 20px;
	margin: auto;
	width: 90%;	
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.section__subtitle--about {
	background: var(--clr-bg1);
	border: none;
}


/* Header */

header {
	display: flex;
	justify-content: space-between;
	padding: 0.25em;
}


.logo {
	max-width: 70px; 
	/*margin: 0.5% 0 0 0.5%;*/
}


/*nav { background-color: blue; display: none;}*/
nav { 
	position: fixed;
	background: var(--clr-bg0);
	/*color: var(--clr-text0);*/
	color: white;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 100;

	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
	list-style: none;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 0;
	padding: 0;
}

.nav__link {
	color: var(--clr-text0);
	font-weight: var(--fw-bold);
	font-size: var(--fs-h2);
	text-decoration: none;
}

.nav__link:hover {
	color: var(--clr-text0);
	/*opacity: 0.7;*/
}

.nav-toggle {
	padding: 0.5em;
	background: transparent;
	border: 0;
	height: 2em;
	/*margin: auto 0;*/
	right: 1em;
	top: 1em;
	cursor: pointer;
	position: absolute;
	z-index: 1000;	
}

.nav-open .nav {
	transform: translateX(0);
}
.nav-open .nav-toggle {
	position: fixed;
}
.nav-open .hamburger {
	transform: rotate(0.625turn);
}
.nav-open .hamburger::before {
	transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
	opacity: 0;
}

.hamburger {
	display: block;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	content: '';
	background: var(--clr-text0);
	width: 2em;
	height: 3px;
	border-radius: 1em;
	transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
}

.hamburger::before { top: 6px; }
.hamburger::after { bottom: 6px; }



/* Intro Section */

.intro {
	position: relative;
}

/*.intro__img {
	box-shadow: var(--bs);
	border: 2px solid #4f2b04;
	border-radius: 10px;

	max-width: 40%;
	min-width: 200px;
	margin: 0 auto;
}*/



@media (min-width: 600px) {
	.logo {	max-width: 100px; }
	.nav-toggle { top: 2em; }
	h1 strong { margin: 0 25%; }
	
	.section__title--intro	strong { display: block; }



	.intro {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		grid-column-gap: 1px;
		grid-row-gap: 0px;
		width: 75%;
		margin: 0 auto;

		border-radius: 25px;
	}
	.intro::after {
		content: "";
		display: block;
		width: 2px;
		background-color: var(--clr-text0);
		opacity: 50%;
		height: 100%;
		position: absolute;
		right: 50%;
		margin: auto;
		rotate: 30deg;
	}

	.intro__img {
		grid-area: img;
		min-width: 200px;
		position:	relative;
		z-index: 2;
		/*display: none;*/
	}

	.section__subtitle--intro {
		align-self:	start;
		grid-column: 2 / 3;
		grid-row: 1 / 2;
		text-align: right;
		justify-self: end;
		align-self: end;
		margin-bottom: 0.5em;
		padding-left: 2em;
		position: relative;
		width: calc(100% + 0.75em);
/*		line-height: 0.80em;*/
	}
	.section__subtitle--intro strong{
		line-height: 1em;
	}
	.section__subtitle--intro {
	}

	.my-about, .my-work {
		width: 85%;
	}
}


/* Technical Skills */

.my-skills {
	background-color: var(--clr-bg1);
/*	background: var(--clr-bg0), url(imgs/texture.jpg) no-repeat center center fixed;*/
/*	background-image: url(imgs/texture.png);*/
	background-size: cover;

	color: var(--clr-text1);
	text-align: center;
}

/*h2.section__title{
	margin-top: 0.25em;
}*/

.section__title--skills {
	color: var(--clr-text1);
	position: relative;
}

.section__title--skills::after {
	content: '';
	display: block;
	width: 3em;
	height: 1px;
	margin: 0.5em auto 0.5em;
	background: var(--clr-text1);
	opacity: 0.5;
}

.skill {
	max-width: 500px;
	margin: 0 auto;
}

@media (min-width: 1000px) {
	.skills {
		display: flex;
		flex-wrap: wrap;
		max-width: 1200px;
		margin: 0 auto;
	}

	.skill {
		flex-basis: 30%;
		/*flex-grow:2;*/

	}

	.skill + .skill {
		margin-left: 2em;
	}
}
 

/* About Stuff */

.my-about, .my-work {
	max-width: 85%;
	margin: 0 auto;
	padding: 0;
}

.my-about__img {
	box-shadow: var(--bs);
	border: 2px solid #4f2b04;
	border-radius: 10px;

	max-width: 50%;
	min-width: 200px;
	margin: 0 auto;
}

@media (min-width: 600px) {
	.my-about {
		display: grid;
		grid-column-gap: 2em;
		grid-template-areas:
			"title img"
			"subtitle img"
			"text img";
		grid-template-columns: 1fr 200px;
/*		width: 75;*/
	}

	.section__title--about {
		grid-area: title;
	}

	.section__subtitle--about {
		grid-column: 1 / -1;
		grid-row: 2;

		position: relative;
/*		left: -0.25em;*/
/*		width: calc(100% + 0.5em);*/
/*		padding-left: 1em;*/
/*		padding-right: calc(200px + 4em);*/

	}

	.my-about__img {
		grid-area: img;
		max-width: 200px;
		position: relative;
		z-index: 2;
		margin: auto -1em;

		/*display: none;*/
	}
}


.skill .content-skills {
	font-size: 12px;
	padding: 0;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row-reverse;
}
.skill .content-skills li {
	background: var(--clr-bg2); /* Inner box skill boxes */
	border-radius: 2px;
	display: inline-block;
	padding: 2px 10px;
	color: var(--clr-text1);
	margin: 3px 2px;
	text-align: center;
	flex-grow: 1;
	font-weight: var(--fw-bold);
}
.order-first{
	/*order: -1;*/
}


::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background-color: #11171a;
	border-radius: 10px;
}


/* Footer */

.footer {
	background: var(--clr-footer);
/*	background-image: url(./imgs/texture1.png);*/
	color: var(--clr-footer-txt);
	text-align: center;
	padding: 0.5em 0;
	font-size: var(--fs-h3);
}

.footer a { color: inherit; }

.footer__link {
	font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
	opacity: .7;
}

.footer__link:hover {
	text-decoration: underline;
}

.social-list {
	list-style: none;
	display: flex;
	justify-content: center;
	margin: 0.25em 0 0 0;
	padding: 0;
}

.social-list__item {
	margin: 0 .5em;
}

.social-list__link {
	padding: 0.25em;
}
